.form-check {
    margin-bottom:0 !important;
}

input[type=color] {
    height: 15px;
    width: 30px;
    border: 0;
}

#inputLightName {
    box-shadow:none;
    font-size:12px;
    -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
    border-bottom: 1px solid transparent;
}

#iconSave {
    position: absolute;
    right: 30px;
    top: 13px;
    color: rgb(0, 77, 0);
}

.input-edit-light-name {
    border-bottom: 1px solid var(--bs-card-border-color);
}

i.bi-pencil {
    font-size:14px;
    cursor:pointer;
}

i.bi-lamp {
    font-size: 48px;
}